@font-face {
  font-family: 'Rebelton';
  src: local('Rebelton Bold'), local('Rebelton-Bold'),
      url('../fonts/RebeltonBold/REBELTON-Medium.woff2') format('woff2'),
      url('../fonts/RebeltonBold/REBELTON-Medium.woff') format('woff'),
      url('../fonts/RebeltonBold/REBELTON-Medium.ttf') format('truetype');
}

body {
  background: rgb(2, 5, 23);
  background: linear-gradient(90deg, rgba(2, 5, 23, 1) 10%, rgba(28, 33, 69, 1) 50%, rgba(7, 10, 38, 1) 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none; /* Pour les navigateurs WebKit (Chrome, Safari, etc.), masque la barre de défilement */
}

h1 {
  font-size: 5em;
  padding: 125px 0 100px 0;
  font-family: 'Rebelton', sans-serif;
}

p {
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.btn {
  font-size: 1em;
  color: white;
  background-color: #504743;
  border-radius: 40px;
  letter-spacing: 0.5px;
}

.btn:hover {
  background-color: #483730;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: rgb(143, 143, 172); 
}

.user-form {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 13%;
}

.link {
  letter-spacing: 0.5px;
}

input {
  width: 300px;
  padding: 12px 20px;
  font-size: 1rem;
  border-style: solid;
  text-align: center;
  outline: transparent;
  border-radius: 5px;
}

.green-dot {
  width: 13px;
  height: 13px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.red-dot {
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}